absl-py==0.6.1
AnyQt==0.0.10
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
bcrypt==3.1.4
beautifulsoup4==4.6.3
bleach==3.0.2
boto==2.49.0
boto3==1.9.77
botocore==1.12.77
Bottleneck==1.2.1
bs4==0.0.1
bz2file==0.98
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.6.1
cryptography==2.4.2
cvxopt==1.2.3
cycler==0.10.0
dask==0.20.1
deap==1.2.2
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
EasyProcess==0.2.5
entrypoints==0.2.3
Fabric==1.14.1
fastTSNE==0.2.13
gast==0.2.0
gensim==3.6.0
graphviz==0.10.1
grpcio==1.16.1
h5py==2.8.0
html5lib==1.0.1
idna==2.7
imageio==2.5.0
imbalanced-learn==0.4.3
imblearn==0.0
imutils==0.5.1
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==16.0.2
keyrings.alt==3.1
kiwisolver==1.0.1
lime==0.1.1.32
llvmlite==0.25.0
lxml==4.3.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mechanize==0.4.0
mistune==0.8.4
-e git+https://github.com/garydoranjr/misvm.git@d7eb7874354a3857f1872cc546faf8d6db2886a7#egg=misvm
mpl-finance==0.10.0
Naked==0.1.31
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.3
nltk==3.4
notebook==5.7.0
numba==0.40.1
numpy==1.16.2
opencv-python==3.4.3.18
Orange3==3.18.0
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.4.2
parso==0.4.0
PDPbox==0.2.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
plotly==3.5.0
prometheus-client==0.4.2
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.2
ptyprocess==0.6.0
pyasn1==0.4.4
pycparser==2.19
pycrypto==2.6.1
pydotplus==2.0.2
Pygments==2.3.1
PyNaCl==1.3.0
pyparsing==2.4.0
pyqtgraph==0.10.0
PySocks==1.6.8
python-dateutil==2.8.0
python-louvain==0.11
pytz==2019.1
PyVirtualDisplay==0.2.1
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.20.1
retrying==1.3.3
s3transfer==0.1.13
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
serverfiles==0.2.1
shap==0.28.5
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.7.1
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
xlrd==1.1.0
